--extra-index-url https://download.pytorch.org/whl/cu129
vec2text
torch >= 2.1
sentence-transformers==5.1.2
datasets==2.19.1
transformers>=4.57.1
diffusers
accelerate==1.11.0
evaluate==0.4.6
matplotlib
seaborn
wandb
pandas
toml
nltk==3.9.2
tenacity